.container {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}
.charts {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50%;
}

@media (max-width: 770px) { 
    .container {
        width: 100%;
    }
}